* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif; 
  background-color: #242424; 
  color: white;
}

#root {
  height: 100%;
}
